<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Pedido finalizado com sucesso</h2>
        <p>Voce pode consultar seu historico de compras em sua pagina de utilizador </p>
        <hr />
        <p>Agradecemos a sua compra</p>
    </div>
</div>