@model Cinema

@{
    ViewData["Title"] = $"Editar: {Model.Nome}";
}

<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h2 style="color:white"><i class="bi bi-pencil"></i> Editar: @Model.Nome</h2>
        </p>
        <div class="row">
            <div class="col-md-8 offset-1">
                <form asp-action="Editar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width:150px ;  min-width:150px;  min-height:150px; max-height:150px; object-fit:cover" id="LogoPreview" />
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label style="color:white" asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label style="color:white" asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label style="color:white" asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <input type="submit" value="Editar" class="btn btn-warning text-black float-right" />
                        <a class="btn btn-warning text-black" asp-action="Index">Mostrar todos</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                var output = document.getElementById('LogoPreview');
                output.src = $("#Logo").val();
            });
            $("#Logo").on("change", function () {
                var output = document.getElementById('LogoPreview');
                output.src = $(this).val();
            });
        </script>
    }

