@model Ator

@{
    ViewData["Title"] = $"Editar: {Model.NomeAtor}";
}

<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h2 style="color:white"><i class="bi bi-pencil"></i> Editar: @Model.NomeAtor</h2>
        </p>
        <div class="row">
            <div class="col-md-8 offset-1">
                <form asp-action="Editar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width:150px ;  min-width:150px;  min-height:150px; max-height:150px; object-fit:cover" id="FotoProfilePreview" />
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label asp-for="FotoProfile" class="control-label text-white"></label>
                        <input asp-for="FotoProfile" class="form-control" />
                        <span asp-validation-for="FotoProfile" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label asp-for="NomeAtor" class="control-label text-white"></label>
                        <input asp-for="NomeAtor" class="form-control" />
                        <span asp-validation-for="NomeAtor" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <label asp-for="Bio" class="control-label text-white"></label>
                        <textarea asp-for="Bio" class="form-control"></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <div style="padding: 10px;" class="form-group">
                        <input type="submit" value="Editar" class="btn btn-warning text-black float-right" />
                        <a class="btn btn-warning text-black" asp-action="Index">Mostrar todos</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                var output = document.getElementById('FotoProfilePreview');
                output.src = $("#FotoProfile").val();
            });
            $("#FotoProfile").on("change", function () {
                var output = document.getElementById('FotoProfilePreview');
                output.src = $(this).val();
            });
        </script>
    }

