<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Registo realizado com sucesso</h2>
        <p>Voce ja pode entrar na sua conta utilizando suas credenciais de acesso</p>
        <hr />
        <p>Bom proveito :)!</p>
    </div>
</div>